//Fonts
$font-logo: "Great Vibes", cursive;
$font-nav: "Lato", sans-serif;
$font-body: "Poppins", sans-serif;

//Colors
$color-pink: #ffc4c9;
$color-green: #b3cda2;
$color-darkgreen: #859778;

//Breakpoints
$screen-very-small: 320px;
$screen-small: 768px;
$screen-desktop-small: 1024px;
